.Translation {
    flex: 1;
    min-width: 200px;
    max-width: 50%;
}

.translation-text {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    white-space: pre-line;
    width: 70%;
}